body{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

#Clock{
    position: relative;
    height: 40vw;
    width: 40vw;
    border: 10px solid whitesmoke;
    box-shadow: inset 1px 1px 5px #000000, 1px 1px 5px #000000;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Innerclock{
    position: relative;
    background: #282828;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#Innerclock::after{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg) ;
    transform: rotate(90deg);
}

#Innerclock::after,
#Innerclock::before,
#Innerclock .mark{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #3FF1F0;
    z-index: 0;
    left: 49%;
    top: 0;
}

#Innerclock .mark{
    width: 3px;
    background: #bdbdcb;
}

#Innerclock .mark.mark_one{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg) ;
    transform: rotate(30deg);
}

#Innerclock .mark.mark_two{
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg) ;
    transform: rotate(60deg);
}

#Innerclock .mark.mark_three{
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg) ;
    transform: rotate(120deg);
}

#Innerclock .mark.mark_four{
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg) ;
    transform: rotate(150deg);
}

#face{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

#inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
}

#hour,#minute,#second{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    z-index: 5;
}

#hour{
    background: #6BA6F6;
    width: 2.4%;
    height: 25%;
    top: 26%;
    left: 48.85%;
    opacity: 0.8;
}

#minute{
    background: #6BA6F6;
    width: 2%;
    height: 30%;
    top: 20%;
    left: 48.9%;
    opacity: 0.8;
}

#second{
    background: #AA7C51;
    width: 1.6%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 0.8;
}